.basic-heading {
    text-align: center;
    font-size: 50px;
    color: darkblue;
}

.planet-input-label {
    display: inline-block;
    text-align: right;
    position: relative;
    left: 32.5%;
}   

.results-default-style {
    margin: auto;
    width:50%;
    padding-top: 2%;
}

.planet-search-style {
    margin: auto;
    width: 30%;
    left: 50%;
}